# Snowflake Connection Parameters and Credentials
SF_ACCOUNT = qg21124.eu-west-1
SF_USER = PLANET42_SYSTEM_READ_WRITE_USER
SF_PASSWORD = 
SF_DATABASE_NAME = PLANET42_LIVE_DB
SF_SCHEMA_NAME = DATA_TEAM_DEV
SF_ALLPS_XML_LOG_TABLE = ALLPS_SERVICE_API_LOGS

# ALLPS Connection Parameters and Credentials
ALLPS_HOST = https://iserv.amplifin.co.za/allpsws/allps.asmx # LIVE
ALLPS_USER = P42_AUTO_RETRY # LIVE
ALLPS_PASSWORD =  # LIVE
#ALLPS_HOST = https://web2.intecon.co.za/allpsws_test/allps.asmx # TEST
#ALLPS_USER = dev9333# TEST
#ALLPS_PASSWORD = k2GvVRdY# TEST
ALLPS_MACHINE_NAME = WINDOWS-PC
ALLPS_USER_IF = allps-ws
ALLPS_INTEGRATOR = Planet42
ALLPS_PRODUCT = CarGet
ALLPS_PRODUCT_VERSION = 1.0.0
ALLPS_ORG_CODE = 0177 # LIVE
ALLPS_BRANCH_CODE = 8259 # LIVE
ALLPS_NEW_TRACK_CODE = 07 # 07 = 10 Days
ALLPS_RESPONSE_CODES_RETRY_LIST = 1800, 331	# 1800 = Cutoff for action date has been reached # 331 =	Bank not processing on action date. (331)

SLACK_TIMEOUT = 60
ENABLE_SLACK_NOTIFICATIONS = False # Set to True in Production Environment

RAW_RETRY_LOANDS_FILTERS_JSON = '{
    "DAYS_BEFORE_NEXT_INSTALMENT_FILTER": "DAYS_BEFORE_NEXT_INSTALMENT > 10 and DAYS_BEFORE_NEXT_INSTALMENT < 30",
    "MANDATE_IS_NOT_TRACKING": true,
    "NO_BREAKDOWN_TASK": true,
    "NO_PTP": true,
    "INSTALMENT_HAS_NOT_BEEN_EDITED": true,
    "LAST_TWO_INSTALMENTS_HAS_ONE_FAILED_INSTALMENTS": true,
    "NO_TWO_CONSECUTIVE_FAILED_INSTALMENTS": true,
    "HAS_MORE_THAN_HALF_OF_PAYMENT_AMOUNT_MISSING": true
}'
SF_RETRY_RAW_LOANS_DATA_TABLE = RAW_RETRY_LOANS_DATA
